body{
background-image:url("https://cdn.shopify.com/s/files/1/2353/0977/files/chefs-cover-their-tattoos-with-tattoo-cover-up-sleeves.jpg?v=1513725916");
background-repeat:no-repeat;
background-size:cover;
}